<app-navbar-inventario></app-navbar-inventario>
<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Formulario para Registrar un Producto Nuevo</h3>
              <div>
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" />
                      <label class="form-label" for="firstName">Nombre del Producto</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" />
                      <label class="form-label" for="lastName">Marca del producto</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                      <label for="birthdayDate" class="form-label">cantidad Existente</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="lastName" placeholder="example 00123500" class="form-control form-control-lg" />
                      <label class="form-label" for="lastName">Codigo Producto</label>
                    </div>
                  </div>
                </div>
                <div class="mt-4 pt-2">
                    <button type="button" class="btn btn-primary">Registrar</button>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>
